@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'counter-strikeregular';
    src: url('cs_regular-webfont.woff2') format('woff2'),
         url('cs_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body{
	padding:0;
	border:0;
	margin:0;
	/*background-image:url(csssssssssssgo.png);*/
	background-color:#CCC;
	}

#storbox {
	width:100%;
	height:1200px;
	margin:auto;
	
	}


header {
	background-color:#FFF;
	width:100%;
	height:13%;
	overflow:hidden;
	border-bottom:3px solid #999;
	}
	
ul {
	list-style:none;
	text-align:center;
	padding:0px;
	width:100%;
	font-family:'counter-strikeregular';
	line-height:140px;
	
	}
	
#CSSmokes {
	font-size:80px;
	float:left;
	width:auto;
	
	}
li{	

}	
li a {
	text-decoration:none;
	line-height:122px;
	width:15%;
	float:right;
	margin-left:10px;
	margin-right:10px;
	
	
	}
#nav-logo{
	float:left;
	margin-top:60px;
	margin-left:5%;
	font-family:'counter-strikeregular';
	font-size:100px;
}

#nav-logo{
	font-size:25px;	
}

article {
	width:70%;
	height:100%;
	margin:auto;
	
	}
.yt {
	width:100%;
	height:70%;
	
	}
.cs-font {
	font-family:'counter-strikeregular';
	text-align:center;
	font-size:24px;
	
	}
	
	
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite; 
}
